td {
    font-size: 10px;
}

.garage-schedule tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.garage-schedule td {
    text-align: center;
    padding-right: 30px;
}

@media screen and (min-width: 460px) {
    td {
        font-size: 16px;
    }
}