.sales-car {
    background-position: center;
    background-repeat: repeat, no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: auto;
    z-index: 10;
}


.menu-salesCar {
   padding-top: 170px;
   padding-bottom: 120px;
   padding-left: 50px;
   width: 50%;
   position: relative;
   z-index: 20;
}

.new-cars {
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.sales-carTitle {
    color: #ffffff;
    font-size: 62px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.2em;
}

.cta-salesCar {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.occas-btn {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    padding: 18px 24px;
    font-size: 16px;
    letter-spacing: .5px;
    text-transform: capitalize;
    transition: all 0.3s;
}

.occas-btn:hover {
    background-color: #9a0f39;
    border-color: #9a0f39;
    color: #fff;
}

.newCar-btn {
    border: 1px solid #fff;
    color: #fff;
    padding: 18px 24px;
    font-size: 16px;
    letter-spacing: .5px;
    text-transform: capitalize;
}

.newCar-btn:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.3s;
}