/* Mobile Version */

.form-wrapper {
  display: none;
}



/* Desktop Version */

@media screen and (min-width: 994px) {

    .form-wrapper {
      display: block;
      border: 1px solid #fff;
      background-image: linear-gradient(360deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .05));
      width: 38%;
      padding: 35px;
      position: relative;
      z-index: 30;
      margin-top: 70px;
      margin-right: 10px;
  }

  form {
      display: flex;
      flex-direction: column;
  }

  .form-title {
      font-size: 36px;
      font-weight: bold;
      color: #fff;
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 25px;
  }

  .form-block {
      margin: 0 0 15px;
      padding: 0 50px;
  }

  label {
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 400;
  }

  .year-label {
    margin-top: 20px;
  }

  .text-white {
      color: #fff;
  }

  .wrapper-select {
      height: auto;
      border: 1px solid #fff;
      background-color: rgba(0, 0, 0, 0);
      margin-bottom: 15px;
      margin-right: 15px;
      padding: 16px 18px;
      font-size: 16px;
      font-weight: 400;
      transition: all .2s;
      color: #fff;
  }

  input[type="range"] {
      width: 100%;
      margin-top: 10px;
      appearance: none;
      -webkit-appearance: none;
      background-color: white; /* Couleur de fond de la barre */
      height: 10px;
      border-radius: 5px;
    }
    
    input[type="range"]:focus {
      outline: none;
    }
    
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background-color: #9a0f39; /* Couleur du curseur */
      border-radius: 50%;
      border: 2px solid white; /* Bordure du curseur */
      cursor: grab;
    }

    .price-range-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 0;
    }
    
    .price-range-container input[type="range"] {
      position: absolute;
      width: 100%;
      height: 10px;
    }
    
    .price-range-container input[type="range"]::-webkit-slider-thumb {
      z-index: 1;
      position: relative;
    }

  .form-btn-wrapper {
      display: flex;
      flex-direction: column;
  }

  .form-btn {
      padding: 10px 20px;
      color: #fff;
      background-color: #9a0f39;
      font-size: 16px;
      letter-spacing: .5px;
      font-weight: 400;
  }

  .form-btn:hover {
      color: #000;
      background-color: #fff;
      transition: all 0.4s ease-in-out;
  }

  .slider {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .slider .thumb {
    width: 20px;
    height: 20px;
    cursor: grab;
    background: #9a0f39;
    border-radius: 50%;
    border: 2px solid #fff;
    top: -5px;
  }
}

